body {
    background-color: lightgrey;
}

.Title {
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: larger;
}

.Menu {
    overflow: hidden;
    background-color: black;
}

.Menu a {
    background-color: black;
    float: left;
    color: white;
    font-family: "Arial", Helvetica, sans-serif;
    display: block;
    padding: 14px;
    text-decoration: none;
}

.Menu a:hover {
    background-color: gray;
}

@media screen and (max-width: 400px) {
    .Menu a {
        float: none;
        width: 100%;
    }
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
    background-color: #333;
    color: white;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

.ThreeColumn {
    float: left;
    font-family: "Arial", Helvetica, sans-serif;
    box-sizing: border-box;
    width: 33%;
    padding: 15px;
    margin-bottom: 40px;
}

@media screen and (max-width:600px) {
    .ThreeColumn {
        width: 100%;
    }
}

.OneColumn {
    float: left;
    font-family: "Arial", Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
}

.Responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

table,th,td {
    border: 1px solid black;
}
table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 40%;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    padding: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}
th {
    color: white;
    background-color: black;
}
td:hover {
    background: lightcyan;
}
td {
    background-color: white;
}